<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){
            $('form').on('submit', function (){
                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if (password != rePassword){
                    alert('The password value and the confirmation password value do not match.');
                    return false;
                }

            });
        });
    </script>
</head>
<body>

<h1>Reset password</h1>
<div th:if="${result eq true}">
    <form method="post">

        <div>
            <input type="password" name="password" placeholder="new Password" required/>
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="confirm password" required/>
        </div>
        <div>
            <button type="submit">  password reset </button>
        </div>


    </form>
</div>


<div th:if="${result eq false}">
    <p>The input value is invalid.</p>
    <div>
        <a href="/">main page</a>
    </div>
</div>




</body>
</html>