<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>

<h1>Reset password</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<form method="post">

    <div>
        <input type="text" name="userId" placeholder="ID (E-mail)" required/>
    </div>
    <div>
        <input type="text" name="userName" placeholder="User Name" required/>
    </div>
    <div>
        <button type="submit">  Request password reset </button>
    </div>


</form>




</body>
</html>