<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>minicampus</title>
</head>
<body>

<div th:fragment="fragment-body-menu">
    <div>
        <a href="/member/register">Register</a>
        |
        <a href="/member/info">User Info</a>
        |
        <a href="/member/login">Login</a>
        |
        <a href="/member/logout">Logout</a>
    </div>
    <hr/>
</div>

<div th:fragment="fragment-admin-body-menu">
    <a href="/admin/main.do"> admin main </a>
    |
    <a href="/admin/member/list.do"> Member Management </a>
    |
    <a href="/admin/category/list.do"> Category Management </a>
    |
    <a href="/admin/course/list.do"> Course Management </a>
    |
    <a href="/member/logout"> Logout </a>
    <br/>
    <hr/>
</div>




</body>
</html>